.choose-us-container{
    .container{
        display: flex;
        flex-direction: column;
        gap:3rem;
        .title-container{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            text-align: center;
            h2{
                color: var(--light-blue);
             
            }
            p{
                color: var(--dark-blue);
                letter-spacing: 0.1rem;
                line-height: 1.2rem;
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .choose-us{
                display: grid;
                grid-template-columns: 1fr;
                gap: 2rem;
                
                .choose{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    align-items: center;
                    
                    background-color: var(--card-color2);
                    text-align: center;
                    padding: 1rem;
                    border-radius: 0.7rem;
                    transition: var(--transition);
                    &:hover{
                        box-shadow: var(--elevate-shadow);
                    }
                    h4{
                        color: var(--light-blue);
                    }
                    p{
                        color: var(--dark-blue);
                    }
                }
            }
            

        }
        .delivery{
            display: flex;
            justify-content: center;
            img{
                max-inline-size: 100%;
                block-size: auto;
                
            }
        }
    }
    @media screen and (min-width: 768px)  {
        .container {
            .content{
          .choose-us {
            grid-template-columns: repeat(2, 1fr);
          }
        }
        }
      }
      @media screen and (min-width:1200px){
        .container {
            .content {
              flex-direction: row-reverse;
              gap: 4rem;
              .choose-us {
                grid-template-columns: repeat(2, 1fr);
              }
            }
          }
      }
}